from numpy import where


class Indicators:
    def __init__(self, data, period, indicator):
        self.data = data
        self.indicator = indicator
        self.period = int(period)

    def value(self):
        if self.indicator == "RSI":
            self.data['up_sum'] = where(self.data['DIFF'] > 0, self.data['DIFF'], 0.0)
            self.data['dn_sum'] = where(self.data['DIFF'] <= 0, abs(self.data['DIFF']), 0.0)
            self.data['gain'] = self.data['up_sum'].rolling(window=(self.period-1), min_periods=(self.period-1)).sum()
            self.data['loss'] = self.data['dn_sum'].rolling(window=(self.period-1), min_periods=(self.period-1)).sum()
            self.data['gain_sma'] = self.data['gain'].rolling(window=self.period, min_periods=self.period).mean()
            self.data['loss_sma'] = self.data['loss'].rolling(window=self.period, min_periods=self.period).mean()
            self.data['rel_sstr'] = 1.0 + self.data['gain_sma'] / self.data['loss_sma']
            self.data["VALUE"] = (100 - 100 / self.data['rel_sstr'])
            del self.data['up_sum']
            del self.data['dn_sum']
            del self.data['gain']
            del self.data['loss']
            del self.data['gain_sma']
            del self.data['loss_sma']
            del self.data['rel_sstr']

        return self.data